+++
title = "The Life of Hattori Hanzō"
linkTitle = "The Life of Hattori Hanzō"

+++

{{< blocks/cover title="The Life of Hattori Hanzō" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://en.wikipedia.org/wiki/Hattori_Hanzō">
		Wiki <i class="fab  fa-wikipedia-w  ml-2 "></i>
	</a>
	<p class="lead mt-5">Samurais from Japan!</p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
	</div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Hattori Hanzō, also known as Hattori Masanari or Hattori Masashige and nicknamed Oni no Hanzō.
He was a famous Samurai of the Sengoku era, credited with saving the life of Tokugawa Ieyasu and then helping him to become the ruler of united Japan. 

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Early Life!" %}}
Born the son of Hattori Hanzō Yasunaga (服部 半蔵(半三) 保長), a minor samurai in the service of the Matsudaira (later Tokugawa) clan. He would later earn the nickname Oni no Hanzō (鬼の半蔵, Demon Hanzō) because of the fearless tactics he displayed in his operations; this is to distinguish him from Watanabe Hanzo (Watanabe Moritsuna), who is nicknamed Yari no Hanzō (槍の半蔵 Spear Hanzō).

According to the Kansei Chōshū Shokafu, a genealogy of major samurai completed in 1812 by the Tokugawa shogunate, Hattori Hanzō rendered meritorious service during the Battle of Mikatagahara and became commander of an Iga Unit consisting of 150 men. During Mikatagahara, he captured a Takeda spy named Chikuan and when Takeda's troops invaded Totomi, Hanzō counter-attacked with only 30 men at the Tenryū River.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-male" title="Read More" url="https://en.wikipedia.org/wiki/Hattori_Hanz%C5%8D#Early_life_and_family" %}}
Two years prior, he made his battlefield debut, leading 60 ninja as they raided Udo Castle in the middle of the night. From there, he proved himself even further when he rescued the daughters of his clan’s leader from enemy hostage-takers.

Over the next several decades, he continued to fight in historic battles, laying siege to Kakegawa Castle and serving with distinction during the battles of Anegawa in 1570 and Mikatagahara in 1572.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-snowflake" title="Hanzō's legacy" url="https://allthatsinteresting.com/hattori-hanzo" %}}
Hattori Hanzō died at the young age of 55. Some say he collapsed suddenly while hunting. But there’s a much more fascinating story of his death — which is probably just a myth.

As the story goes, Ieyasu sent Hanzō, his best ninja, to settle the score with his greatest rival, the pirate-ninja Fūma Kotarō. Hanzō and his men tracked Kotarō by sea for years, until finally finding one of his clan’s boats in an inlet and hoping to capture it.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">Modern Literature - Kill Bill</h1>
</div>

{{< /blocks/section >}}



{{< blocks/section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Download **from AppStore**" %}}
Get the History Lessons app!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/gohugoio/hugo" %}}
We do a [Pull Request](https://github.com/gohugoio/hugo/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/GoHugoIO" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<p class="text-center"> {{% blocks/feature icon="fa-comments" %}}This site is powered by [Docsy](http://docsy.dev){{% /blocks/feature %}} </p>
</div>

{{< /blocks/section >}}
